<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Unclassified informations</h1>
Click<a href="{% url 'info' %}"> Here</a> to see all the possible informations.

<h1>Specific informations</h1>
<h3>Select a Teacher's name</h3>
<p><a href="">Kenn Gibbs</a></p>
<p><a href="">Erin Johnson</a></p>
<p><a href="">Kevin Yancy</a></p>
<p><a href="">Didier Bonga</a></p>
<p><a href="">Deborah King</a></p>


<h3>Select a School</h3>
<p><a href="">CodeCrew Code school</a></p>
<p><a href="">TECH 901</a></p>
<p><a href="">Memphis University</a></p>
</body>
</html>